In [1]:
import yfinance as yf
import pandas as pd

In [2]:
### start and end dates
start_date = '2019-07-01'
end_date = '2020-01-01'

df1 = yf.download('A', start_date, end_date)[['Close']]
df1

[*********************100%***********************]  1 of 1 completed

                Close
Date
2019-07-01  75.779999
2019-07-02  75.610001
2019-07-03  76.800003
2019-07-05  75.750000
2019-07-08  73.839996
...               ...
2019-12-24  85.300003
2019-12-26  85.449997
2019-12-27  85.419998
2019-12-30  84.900002
2019-12-31  85.309998

[128 rows x 1 columns]

In [3]:
df1 = df1.reset_index(drop=True)
df1

         Close
0    75.779999
1    75.610001
2    76.800003
3    75.750000
4    73.839996
..         ...
123  85.300003
124  85.449997
125  85.419998
126  84.900002
127  85.309998

[128 rows x 1 columns]

In [7]:
df1.columns = ['y']
df1

             y
0    75.779999
1    75.610001
2    76.800003
3    75.750000
4    73.839996
..         ...
123  85.300003
124  85.449997
125  85.419998
126  84.900002
127  85.309998

[128 rows x 1 columns]

In [5]:
df1.to_csv('data/basic_time_series_data.csv', index=False)

In [ ]:
### start and end dates
start_date = '2019-01-01'
end_date = '2020-01-01'

df1 = yf.download('A', start_date, end_date)
df1['id'] = 1

df2 = yf.download('C', start_date, end_date)
df2['id'] = 2

In [ ]:
df = pd.concat([df1, df2])
df = df.reset_index()
df = df[['id', 'Date', 'Close']]
df.columns = ['id', 'date_stamp', 'y']

df.info()

In [ ]:
df.to_csv('data/test_data_light.csv', index=False)