In [1]:
# -*- coding: utf-8 -*-


import pandas as pd
import os
import io
# from main import collect_result
# import utils

In [2]:
pd.read_csv('data/test_data.csv')

    id  date_stamp      y
0    1   1/31/2019  101.0
1    1   2/28/2019  105.0
2    1   3/28/2019  110.0
3    1   4/25/2019  115.0
4    1   5/23/2019  120.0
5    1   6/20/2019  125.0
6    1   7/18/2019  120.0
7    1   8/15/2019  115.0
8    1   9/12/2019  110.0
9    1  10/10/2019  105.0
10   1   11/7/2019  101.0
11   1   12/5/2019  101.0
12   1    1/2/2020  100.0
13   1   1/30/2020  150.0
14   1   2/27/2020  145.0
15   1   3/26/2020  140.0
16   1   4/23/2020  135.0
17   1   5/21/2020  130.0
18   1   6/18/2020  125.0
19   1   7/16/2020  120.0
20   1   8/13/2020  115.0
21   1   9/10/2020  110.0
22   1   10/8/2020  150.0
23   1   11/5/2020  140.0
24   1   12/3/2020  130.0
25   1  12/31/2020  170.0
26   1   1/28/2021  152.0
27   1   2/25/2021  135.0
28   1   3/25/2021  163.0
29   1   4/22/2021  452.0
30   2   1/31/2019  101.0
31   2   2/28/2019  105.0
32   2   3/28/2019  110.0
33   2   4/25/2019  115.0
34   2   5/23/2019  120.0
35   2   6/20/2019  125.0
36   2   7/18/2019  120.0
37   2   8/15/2019  115.0
38   2   9/12/2019  110.0
39   2  10/10/2019  105.0
40   2   11/7/2019  101.0
41   2   12/5/2019  101.0
42   2    1/2/2020  100.0
43   2   1/30/2020  150.0
44   2   2/27/2020  145.0
45   2   3/26/2020  140.0
46   2   4/23/2020  135.0
47   2   5/21/2020  130.0
48   2   6/18/2020  125.0
49   2   7/16/2020  120.0
50   2   8/13/2020  115.0
51   2   9/10/2020  110.0
52   2   10/8/2020  150.0
53   2   11/5/2020  140.0
54   2   12/3/2020  130.0
55   2  12/31/2020  170.0
56   2   1/28/2021  152.0
57   2   2/25/2021  135.0
58   2   3/25/2021  163.0
59   2   4/22/2021  452.0

In [ ]:
root = os.path.dirname(os.getcwd())

# sample time series dataframe with columns(id, datestamp, y)

raw_fact = utils.read_csv(root, 'test_data.csv')
raw_fact['date_stamp'] = pd.to_datetime(raw_fact['date_stamp'])
raw_fact.info()

model_list = ['fft', 'holt_winters', 'sarimax', 'ewm_model', 'prophet']
gbkey = 'id'

result = collect_result(raw_fact, model_list, gbkey, 'date_stamp')

In [ ]:
import io
buffer = io.StringIO()

In [ ]:
raw_fact.info(buf=buffer)
s = buffer.getvalue()
print(s)

In [ ]:
[str(raw_fact[col].dtype) for col in raw_fact.columns]

In [ ]:
df_info = str()

df_info = '\n'.join([str(raw_fact[col].dtype) for col in list(raw_fact)])

print(df_info)

In [ ]:
[raw_fact[col].dtype for col in list(raw_fact)]