In [23]:
import datetime
import pandas as pd
import numpy as np
import yfinance as yf

In [4]:
### start and end dates
start_date = '2019-07-01'
end_date = '2020-01-01'

df1 = yf.download('A', start_date, end_date)[['Close']]
df1

[*********************100%***********************]  1 of 1 completed

                Close
Date
2019-07-01  75.779999
2019-07-02  75.610001
2019-07-03  76.800003
2019-07-05  75.750000
2019-07-08  73.839996
...               ...
2019-12-24  85.300003
2019-12-26  85.449997
2019-12-27  85.419998
2019-12-30  84.900002
2019-12-31  85.309998

[128 rows x 1 columns]

In [5]:
df1 = df1.reset_index()
df1

          Date      Close
0   2019-07-01  75.779999
1   2019-07-02  75.610001
2   2019-07-03  76.800003
3   2019-07-05  75.750000
4   2019-07-08  73.839996
..         ...        ...
123 2019-12-24  85.300003
124 2019-12-26  85.449997
125 2019-12-27  85.419998
126 2019-12-30  84.900002
127 2019-12-31  85.309998

[128 rows x 2 columns]

In [25]:
dates = pd.DatetimeIndex(df1.Date.iloc[-10:])

In [28]:
dates = df1.Date.iloc[-10:]

In [30]:
 pd.date_range(dates.iloc[-1], periods=10).union(dates)

Index([2019-12-17 00:00:00, 2019-12-18 00:00:00, 2019-12-19 00:00:00,
       2019-12-20 00:00:00, 2019-12-23 00:00:00, 2019-12-24 00:00:00,
       2019-12-26 00:00:00, 2019-12-27 00:00:00, 2019-12-30 00:00:00,
       2019-12-31 00:00:00, 2020-01-01 00:00:00, 2020-01-02 00:00:00,
       2020-01-03 00:00:00, 2020-01-04 00:00:00, 2020-01-05 00:00:00,
       2020-01-06 00:00:00, 2020-01-07 00:00:00, 2020-01-08 00:00:00,
       2020-01-09 00:00:00],
      dtype='object')

In [32]:
l = [1,2,3]
l[1:]

[2, 3]

In [ ]:
# df1.to_csv('data/basic_time_series_data.csv', index=False)

In [ ]:
### start and end dates
start_date = '2019-01-01'
end_date = '2020-01-01'

df1 = yf.download('A', start_date, end_date)
df1['id'] = 1

df2 = yf.download('C', start_date, end_date)
df2['id'] = 2

In [ ]:
df = pd.concat([df1, df2])
df = df.reset_index()
df = df[['id', 'Date', 'Close']]
df.columns = ['id', 'date_stamp', 'y']

df.info()

In [ ]:
# df.to_csv('data/test_data_light.csv', index=False)