In [1]:
import pandas as pd
import random

from main import collect_result

In [2]:
ts = random.sample(range(100,200), 30)
print(ts)

[121, 187, 154, 180, 107, 156, 165, 189, 183, 146, 152, 157, 184, 109, 158, 148, 135, 168, 186, 143, 104, 160, 122, 162, 172, 153, 108, 110, 128, 129]

In [3]:
raw_fact = pd.DataFrame(data={'y':ts})
raw_fact.head(3)

     y
0  121
1  187
2  154

In [4]:
model_list = ['sarimax', 'holt_winters', 'fft']

In [5]:
result = collect_result(raw_fact, model_list)
result.info()

C:\Users\abc_h\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:293: FutureWarning: RangeIndex._start is deprecated and will be removed in a future version. Use RangeIndex.start instead
  stop = base_index._start + (key + 1) * base_index._step
C:\Users\abc_h\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:293: FutureWarning: RangeIndex._step is deprecated and will be removed in a future version. Use RangeIndex.step instead
  stop = base_index._start + (key + 1) * base_index._step
C:\Users\abc_h\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:294: FutureWarning: RangeIndex._start is deprecated and will be removed in a future version. Use RangeIndex.start instead
  index = RangeIndex(start=base_index._start,
C:\Users\abc_h\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:296: FutureWarning: RangeIndex._step is deprecated and will be removed in a future version. Use RangeIndex.step instead
  step=base_index._step)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sarimax_forecast       40 non-null     float64
 1   holt_winters_forecast  40 non-null     float64
 2   fft_forecast           40 non-null     float64
 3   ts_id                  40 non-null     int64
dtypes: float64(3), int64(1)
memory usage: 1.4 KB

In [7]:
result.head(3)

   sarimax_forecast  holt_winters_forecast  fft_forecast  ts_id
0          0.000000                  121.0    160.366271      1
1        116.853262                  187.0    208.040965      1
2        180.591405                  154.0    154.803707      1