In [1]:
import pandas as pd
import random

from main import collect_result

In [2]:
ts = random.sample(range(100,200), 30)
print(ts)

[143, 169, 197, 114, 179, 124, 165, 158, 196, 113, 119, 111, 183, 167, 189, 102, 155, 120, 140, 172, 121, 171, 198, 104, 147, 110, 156, 157, 108, 137]

In [3]:
raw_fact = pd.DataFrame(data={'y':ts})
raw_fact.head(3)

     y
0  143
1  169
2  197

In [4]:
model_list = ['sarimax', 'holt_winters', 'fft']

In [5]:
result = collect_result(raw_fact, model_list)
result.info()

C:\Users\abc_h\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:293: FutureWarning: RangeIndex._start is deprecated and will be removed in a future version. Use RangeIndex.start instead
  stop = base_index._start + (key + 1) * base_index._step
C:\Users\abc_h\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:293: FutureWarning: RangeIndex._step is deprecated and will be removed in a future version. Use RangeIndex.step instead
  stop = base_index._start + (key + 1) * base_index._step
C:\Users\abc_h\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:294: FutureWarning: RangeIndex._start is deprecated and will be removed in a future version. Use RangeIndex.start instead
  index = RangeIndex(start=base_index._start,
C:\Users\abc_h\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:296: FutureWarning: RangeIndex._step is deprecated and will be removed in a future version. Use RangeIndex.step instead
  step=base_index._step)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sarimax_forecast       40 non-null     float64
 1   holt_winters_forecast  40 non-null     float64
 2   fft_forecast           40 non-null     float64
 3   ts_id                  40 non-null     int64
dtypes: float64(3), int64(1)
memory usage: 1.4 KB